.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh; /* Full viewport height; */
  color: #ffffff; /* Light text for readability */
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between elements */
  margin: 20px 0;
}
